@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #0ba546;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 34px 0;
  font-size: 13px;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid #d3d1d1;
}

nav .logo {
  width: 160px;
  margin-left: 50px;
}

.menu-btn {
  position: absolute;
  right: 20px;
  font-size: 24px;
  color: #0ba546;
  display: none;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  padding-bottom: 3px;
}

nav ul li a:hover {
  border-bottom: 2px solid #0ba546;
}

nav ul.main-menu {
  flex: 1;
  margin-left: 80px;
}
.right-menu {
  margin-right: 50px;
}
.right-menu li a i {
  font-size: 20px;
}
.main-menu li {
  font-size: 15px;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 610px;
  background: url("img/betradar2.jpg") no-repeat center center/cover;
  position: relative;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.content-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  border-right: 1px solid white;
  color: white;
  width: 50%;
  z-index: 1;
}
.content-wrapper2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  color: white;
  width: 50%;
  z-index: 1;
}
.content1 {
  width: 70%;
  margin: 50px auto;
}
.content-wrapper h1 {
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 10px;
}
.content1 img {
  width: 500px;
  margin-left: -50px;
}
.content1 p {
  line-height: 1.6em;
}
.content2 {
  width: 70%;
  margin: 220px auto;
}
.content2 h1 {
  font-size: 30px;
}
.betsite {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.betsite img {
  width: 100%;
  opacity: 0.75;
  border-radius: 10px;
  border: 2px solid white;
}
.betsite img:hover {
  opacity: 0.95;
}
.content2 h3 {
  margin-top: 20px;
  text-transform: lowercase;
}

.showcase-content-md {
  display: none;
}
.freetrial {
  display: inline-block;
  margin-top: 20px;
}
.freetrial a {
  border: 2px solid white;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}
.freetrial a:hover {
  color: #0ba546;
  background-color: white;
  transition: 0.3s ease-in;
}
.about {
  display: grid;
  grid-template-columns: 40% auto;
  margin-top: 40px;
}
.about-image img,
.packages-image img {
  width: 100%;
}
.about-text,
.packages-text {
  padding: 40px 70px;
}
.about-text h1 {
  color: #0ba546;
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.about-text p {
  line-height: 2.2em;
  font-size: 17px;
}
.packages {
  display: grid;
  grid-template-columns: 55% auto;
  margin-top: 40px;
}
.packages-text h1 {
  color: #0ba546;
  font-size: 40px;
  margin-bottom: 10px;
}
.packages-text ul h2 {
  color: #5f5d5d;
  margin-bottom: 10px;
  /* text-decoration: underline; */
  border-left: 4px solid #0ba546;
  padding-left: 10px;
}
.packages-text ul li {
  line-height: 2em;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  margin: 15px 0 30px;
}
.btn a {
  border: 2px solid #0ba546;
  padding: 5px 20px;
  color: #0ba546;
  font-weight: bold;
  border-radius: 6px;
}

.readmore {
  display: inline-block;
  margin: 15px 0 30px;
  border: 2px solid #0ba546;
  padding: 5px 20px;
  color: #0ba546;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.btn a:hover,
.readmore:hover {
  color: #fff;
  background-color: #0ba546;
  transition: 0.3s ease-in;
}

.why {
  display: grid;
  grid-template-columns: 40% auto;
  margin-top: 40px;
  background: #e9e8e8;
  padding: 50px 20px;
}
.why-image img,
.why-image video {
  width: 100%;
}
.why-image video {
  margin-top: 50px;
  margin-bottom: 50px;
}
.why-text {
  padding: 40px 70px;
}
.why-text h1 {
  color: #0ba546;
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.why-text p {
  line-height: 2.2em;
  font-size: 17px;
}

#more {
  display: none;
}

.pricing {
  padding: 5rem 6rem;
}

.pricing h1 {
  color: #0ba546;
  font-size: 40px;
  line-height: 1.2em;
  margin-bottom: 2rem;
}

.pricing .cards-wrapper > div {
  border: 2px dashed rgb(172, 170, 170);
  padding: 15px 20px;
  border-radius: 15px;
}
.pricing .cards-wrapper > div:hover {
  background: #f5f4f4;
}

.pricing .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-title,
.price-title {
  color: #0ba546;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
}
.card-title i {
  font-size: 35px;
}

.price-title {
  margin-top: 10px;
  font-size: 20px;
}

.price-tag {
  margin-left: 50px;
}

.cards-wrapper ul li {
  font-size: 16px;
  line-height: 2em;
  color: #5f5d5d;
}

.pricing-btn {
  display: inline-block;
  border: 2px solid #0ba546;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 17px;
}
.pricing-btn:hover {
  background: #0ba546;
  color: #fff;
  transition: 0.3s ease-in;
}

.feature-value,
.price-tag {
  font-weight: 900;
}

.feature-value {
  margin-left: 20px;
}

.best-features {
  padding: 2rem 4rem;
  background: #e9e8e8;
}

.best-features .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.best-features .cards-container > div {
  text-align: justify;
  padding: 20px;
}
.best-features .cards-container > div img {
  width: 100%;
}

.best-features h1 {
  color: #0ba546;
  margin-bottom: 10px;
  font-size: 30px;
  margin-left: 1.5rem;
}

.autobet-wrapper {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 2rem;
  padding-top: 2rem;
}

.autobet-wrapper img {
  width: 100%;
}

.autobet-text {
  padding: 3rem 5rem;
}

.autobet-text h1 {
  color: #0ba546;
  margin-bottom: 10px;
  font-size: 30px;
}

.autobet-text p {
  font-size: 17px;
}

.auto-btn {
  display: inline-block;
  border: 2px solid #0ba546;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 2rem;
  font-size: 17px;
}

.auto-btn:hover {
  background: #0ba546;
  color: #fff;
  transition: 0.3s ease-in;
}

footer {
  background: #f5f4f4;
  padding: 3rem 5rem;
}
.footer-top-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer-bottom {
  margin-top: 2.6rem;
  padding-right: 5rem;
}

.footer-bottom p {
  line-height: 2em;
}

.footer-socials a {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
}

.footer-socials a i {
  font-size: 20px;
}

footer ul li {
  line-height: 2em;
}

footer ul h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-bottom img {
  width: 200px;
  margin-left: -20px;
}

.copyright {
  margin-top: 2rem;
  font-weight: 900;
}
.mobilelogo {
  display: none;
}

.mobile-socials {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 1236px) {
  .pricing {
    padding: 3rem;
  }

  .packages-text {
    padding: 40px;
  }

  .why-text {
    padding: 40px;
  }
}

@media screen and (max-width: 1216px) {
  .about-text {
    padding: 40px;
  }
}

@media screen and (max-width: 1169px) {
  nav ul.main-menu {
    margin-left: 35px;
  }

  .card-title {
    font-size: 20px;
  }

  .cards-wrapper ul li {
    font-size: 14px;
  }
}
@media screen and (max-width: 1133px) {
  .content-wrapper h1 {
    font-size: 50px;
  }

  .about-text h1,
  .why-text h1 {
    font-size: 30px;
  }

  .autobet-text h1 {
    font-size: 25px;
  }

  .autobet-text {
    padding: 3rem;
  }
}
@media screen and (max-width: 1110px) {
  .main-menu li {
    font-size: 14px;
  }

  .right-menu li a i {
    font-size: 18px;
  }
}
@media screen and (max-width: 1066px) {
  nav ul.main-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -500px;
    transition: left 0.5s ease-in;
    background: #f1f1f1;
    height: 100%;
    margin: 0;
    width: 35%;
    padding: 1.7rem 2rem 0 2rem;
  }

  .main-menu li {
    font-size: 18px;
    line-height: 3em;
  }

  nav ul li a {
    color: #0ba546;
  }

  nav ul li a:hover {
    border-bottom: 2px solid #0ba546;
  }
  .mobilelogo {
    display: block;
  }

  .mobilelogo img {
    width: 300px;
    margin-left: -32px;
  }

  .mobile-socials {
    display: block;
  }

  .mobile-socials a i {
    font-size: 25px;
  }
  nav ul.main-menu.show {
    left: 0;
  }

  .menu-btn {
    position: absolute;
    right: 40px;
    font-size: 24px;
    color: #0ba546;
    display: block;
    cursor: pointer;
  }

  .right-menu {
    margin-right: 4.5rem;
  }

  .right-menu li {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1023px) {
  .pricing .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .content1 img {
    width: 350px;
    margin-left: -42px;
  }
  .content1 h1 br {
    display: none;
  }
  .content1 {
    width: 80%;
  }

  .content1 h1 {
    font-size: 40px;
  }

  .content2 h1 {
    font-size: 25px;
  }

  .content2 {
    margin: 160px auto;
    width: 80%;
  }
}

@media screen and (max-width: 929px) {
  .content1 h1 {
    font-size: 35px;
  }

  .packages {
    display: flex;
    flex-direction: column-reverse;
  }
  .packages-image,
  .about-image,
  .why-image,
  .autobet-image {
    text-align: center;
  }
  .packages-image img,
  .about-image img,
  .why-image img,
  .autobet-wrapper img {
    width: 500px;
  }

  .about,
  .why,
  .autobet-wrapper {
    display: flex;
    flex-direction: column;
  }

  nav ul.main-menu {
    width: 45%;
  }
}

@media screen and (max-width: 718px) {
  .content-wrapper,
  .content-wrapper2 {
    display: none;
  }

  .showcase {
    height: 100vh;
  }

  .showcase-content-md {
    display: block;
    position: absolute;
    z-index: 2;
    color: white;
  }

  .showcase-content-md .content2 {
    margin-top: 30px;
  }

  .footer-top-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing .cards-wrapper {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 3rem;
  }
  .footer-bottom {
    padding-right: 1rem;
  }

  .best-features .cards-container {
    grid-template-columns: 1fr;
  }

  .about-text h1 {
    font-size: 24px;
  }
  nav ul.main-menu {
    width: 50%;
  }
}

@media screen and (max-width: 620px) {
  nav ul.main-menu {
    width: 60%;
  }

  .mobilelogo img {
    width: 200px;
  }

  .packages-image img,
  .about-image img,
  .why-image img,
  .autobet-wrapper img {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  nav ul.main-menu {
    width: 80%;
  }

  .menu-btn {
    right: 20px;
  }

  nav .logo {
    margin-left: 10px;
  }

  .showcase-content-md .content1 {
    margin: 20px auto;
  }

  .showcase-content-md .content1 h1 {
    font-size: 30px;
  }

  .showcase {
    height: 700px;
  }
  .pricing {
    padding: 1rem;
  }

  .pricing h1 {
    font-size: 30px;
  }

  .best-features {
    padding: 0.7rem;
  }

  .autobet-text {
    padding: 0.7rem 1.2rem;
  }

  .why-text {
    padding: 1.3rem 1rem;
  }

  .why-text h1 {
    font-size: 25px;
  }

  .about-text {
    padding: 1.5rem 1rem;
  }

  .packages-text {
    padding: 1rem;
  }

  .packages-text h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 383px) {
  nav ul.main-menu {
    width: 84%;
  }

  .menu-btn {
    right: 20px;
  }

  .main-menu li {
    font-size: 16px;
  }

  nav .logo {
    margin-left: 10px;
  }

  .right-menu li {
    padding: 0 10px;
  }

  .footer-top-content {
    grid-template-columns: 1fr;
  }
}
